<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/css/edit-page.css" />
  </head>
  <body>
    <div id="main">
      <div id="nav">
        <div id="nav1">
          <a href="/"><h1>Khatabook</h1></a>
        </div>
        <div id="nav2">
          <a href="/">Home</a>
          <a href="/create">Create New Hisaab</a>
        </div>
      </div>

      <div id="content">
        <h2>You're editing <%= filename %></h2>
        <form action="/update/<%= filename %>" method="post">
          <textarea
            name="hisaab"
            id="hisaab"
            placeholder="write your hisaab"
          > <%= filedata %> </textarea>
          <input id="update" type="submit" value="Update Hisaab" />
        </form>
      </div>
    </div>
  </body>
</html>
